<div id="title">
    <h1>Hi, I’m Lope. Nice to meet you.</h1>
    
</div>
<article class="about">
    <h2>ABOUT.</h2>
    <h3>
        In 2015 I graduated from University of Malaga in Economics. I loved my four years in college. After graduating from college I spent a year living in the city of Oxford, it was an enriching year and tough at the same time.
        I worked as Barista at Oxford Museum of Natural History and I also had the opportunity to work at Oxfam GB as a Assistant Finace. It was my first time working for a large company, and it was a very positive experience.<br>
        After my experience in England I came back to Spain and I worked as an accountant but I did not get any worthwhile job because any of them allowed me to become independent and also I did not feel fulfilled. 
        So I started to get interested in the world of programming and I decided to do the Highest Degree of Web Application Development in Málaga.<br>
        After my first year studying, I have noticed that I enjoy coding and  I would love to make a living working in this sector.
    </h3>
</article>
<article class="about">
    <h2>PROGRAMMING LANGUAGES.</h2>
    <h3>-HTML<br>
        -CSS<br>
        -JAVA<br>
        -JAVASCRIPT<br>
        -SQL
    </h3>
</article>
<article class="about">
    <h2>FRAMEWORKS.</h2>
    <h3>-BOOTSTRAP<br>
        -ANGULAR<br>
    </h3>
</article>
<article class="about">
    <h2>THINGS I ENJOY CODING:</h2>
    <h3>WEB PAGES<br>
        WEB APPS<br>
        MOBILE APPS<br>
    </h3>
</article>

